<style>

        .overlay {
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("backgroundWhile.PNG");
            /*   background-color:#ffffff; Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .ui {
            position: absolute;
            z-index: 100;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 10px 15px 30px;
            text-align: center;
            box-sizing: border-box;
        }

            .ui a {
                display: inline-block;
                width: 60px;
                height: 60px;
                background-color: #ffffff;
                line-height: 100%;
                color: #303030;
                margin: 10px 3px;
                border-radius: 50%;
                position: relative;
            }

                .ui a i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                .ui a:active {
                    color: #ff0000;
                }

                .ui a.disabled {
                    pointer-events: none;
                    color: #cccccc;
                }

        .ui2 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 10px 15px 30px;
            text-align: center;
            box-sizing: border-box;
        }

            .ui2 button {
                display: inline-block;
                width: 160px;
                height: 50px;
                line-height: 100%;
                color: #303030;
                margin-top: 455px;
                position: relative;
            }

        .parent {
            display: table;
            height: 150px;
            text-align: center;
            margin: 50px auto;
            border: 1px solid black;
            max-width: 190px;
            background-color: #bebebf;
        }

        .child {
            font-size: 2em;
            display: table-cell;
            vertical-align: middle;
            padding: 0 50px;
        }

        .iamgeAfter {
            height: 120%;
            width: 100%;
            top: 15%;
            left: 10%;
      
            
        }

        
    </style>